# Dependencies
**/node_modules/

# TypeScript
**/*.js
**/*.d.ts
!jest.config.js

# Build outputs
dist/
coverage/

# AWS CDK
**/.cdk.staging/
**/cdk.out/
cdk.context.json

# Logs
*.log

# VS Code
.vscode/
